@import "tailwindcss";
@tailwind utilities;
@config "../../tailwind.config.ts";

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: var(--font-inter);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}


@layer utilities {
  .text-heading-display-light {
    @apply font-[300] tracking-[-0.02em];
    font-family: var(--font-inter);
    /* base (mobile) */
    @apply text-[32px] leading-[40px] text-[#00000040];
    /* md and up (tablet/desktop) */
    @apply md:text-[40px] md:leading-[48px];
  }
  .text-heading-display-dark {
    @apply font-[300] tracking-[-0.02em];
    font-family: var(--font-inter);
    /* base (mobile) */
    @apply text-[32px] leading-[40px] text-[#0B0B0B];
    /* md and up (tablet/desktop) */
    @apply md:text-[40px] md:leading-[48px];
  }
  .text-purple-label {
    @apply font-[600] text-[14px] leading-[24px] tracking-[-0.02em] text-[#BA8DFF] mb-1;
    font-family: var(--font-inter)
  }

  /* Card Title Classes */
  .text-card-title-web {
    @apply font-[300] text-[40px] leading-[1.2] tracking-[-0.02em] whitespace-pre-line;
    font-family: var(--font-inter)
  }
  .text-card-title-tablet {
    @apply font-[300] text-[24px] leading-tight;
    font-family: var(--font-inter)
  }
  .text-card-title-mobile {
    @apply font-[300] text-[18px] leading-tight;
    font-family: var(--font-inter)
  }

  /* Card Subtitle Classes */
  .text-card-subtitle-web {
    @apply text-[#6B7280] text-base leading-[1.5] whitespace-pre-line opacity-80;
    font-family: var(--font-inter)
  }
  .text-card-subtitle-tablet {
    @apply text-[#6B7280] text-sm leading-relaxed opacity-80;
    font-family: var(--font-inter)
  }
  .text-card-subtitle-mobile {
    @apply text-[#6B7280] text-sm leading-relaxed opacity-80;
    font-family: var(--font-inter)
  }

  /* Color Variations for Card Titles */
  .text-card-orange {
    @apply text-[#FF7847];
  }
  .text-card-blue {
    @apply text-[#47B0FF];
  }
  .text-card-indigo {
    @apply text-[#476CFF];
  }
  .text-card-green {
    @apply text-[#47C466];
  }
  .text-card-purple {
    @apply text-[#B347FF];
  }
}